{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!-- NAVBAR -->
{% include "./header.html" %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Delete Your Reference</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'applicant-profile' user.id %}">Profile</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Delete Reference</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2>Delete Reference</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <form class="p-4 p-md-5 border rounded" method="post" action="{% url 'delete-reference' item.id %}">
                    <h3 class="text-black mb-5 border-bottom pb-2">Do you want to delete <b>{{ item.name }}'s reference
                        ?</b></h3>

                    {% csrf_token %}

                    <div class="col-12">
                        <a href="{% url 'applicant-profile' user.id  %}" class="btn btn-block btn-outline-danger btn-md"
                           type="submit">Cancel</a>
                        <button class="btn btn-block btn-danger btn-md" type="submit">Delete</button>
                    </div>

                </form>
            </div>
            {% for message in messages %}

            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>

                {{ message }}

            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
