{% extends "job/base.html" %}
{% load static %}

{% block content %}

<!-- NAVBAR -->
<header class="site-navbar mt-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6">
                <div class="site-logo col-6"><a href="{% url 'home' %}">JobLand</a></div>
            </div>

            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    {% if user.companyprofilemodel.logo %}
                    <li><a href="{% url 'home' %}">
                        <img src="{{user.companyprofilemodel.logo.url}}" style="width:70px;height:50px;">
                    </a></li>
                    {% else %}
                    <li><a href="{% url 'home' %}">{{user.name}}</a></li>
                    {% endif %}

                    {% if request.user == user and request.user.is_company %}
                    <li class="d-lg-none">
                        <a href="{% url 'post-job' %}">Post a Job</a>
                    </li>

                    <li class="d-lg-none">
                        <a class="nav-link" href="{% url 'company-edit-profile' %}">Edit Details</a>
                    </li>
                    {% endif %}

                    <li class="d-lg-none">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out </a>
                    </li>

                </ul>
            </nav>

            <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                <div class="ml-auto">
                    {% if request.user == user and request.user.is_company %}
                    <a href="{% url 'post-job' %}"
                       class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                            class="mr-2 icon-add_circle"></span>Post Job</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                            class="mr-2 icon-lock_outline"></span>Log Out</a>
                </div>
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                        class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>

        </div>
    </div>
</header>

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">{{job.job_title}}</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'home' %}">Job</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>{{job.job_title}}</strong></span>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded">
                        {% if job.user.companyprofilemodel.logo %}
                        <img src="{{job.user.companyprofilemodel.logo.url}}" style="width:120px;height:100px;"
                             alt="Image">
                        {% else %}
                        <img src="#" alt="{{ job.user.name }} logo" class="img-fluid rounded">
                        {% endif %}
                    </div>
                    <div>
                        <h2>{{job.job_title}}</h2>
                        <div>
                            <a href="{% url 'company-profile' job.user.id %}" class="ml-0 mr-2 mb-2"><span
                                    class="icon-briefcase mr-2"></span>{{job.user.name}}</a>
                            <span class="m-2"><span class="icon-clock-o mr-2"></span><span
                                    class="text-primary">{{job.job_type}}</span></span><br/>
                            <span><span class="icon-room mr-2"></span>{{job.location}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">

                    {% if request.user == job.user %}
                    <div class="col-6">
                        <a href="{% url 'edit-job' job.id %}" class="btn btn-block btn-primary btn-md">Edit Job</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'applicant-list' job.id %}" class="btn btn-block btn-primary btn-md">Applicant
                            list</a>
                    </div>

                    <br/><br/><br/>

                    <div class="col-6">
                        <a href="{% url 'delete-job' job.id %}" class="btn btn-block btn-outline-danger btn-md">
                            Delete Job</a>
                    </div>

                    {% if job.is_active %}
                    <div class="col-6">
                        <form method="GET">
                            <input class="btn btn-block btn-outline-danger btn-md" name="deactivateJob" type="submit"
                                   value="Deactivate Job"/>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <form method="GET">
                            <input class="btn btn-block btn-outline-success btn-md" name="activateJob" type="submit"
                                   value="Activate Job"/>
                        </form>
                    </div>
                    {% endif %}

                    {% else %}
                    <div class="col-6">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="col-12">
                                {% if applicant_applied is not None %}
                                <button class="btn btn-block btn-outline-danger " type="submit">Cancel Application
                                </button>
                                {% else %}
                                <button class="btn btn-block btn-primary " type="submit">Apply Now</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">

                    {% if job.image %}
                    <figure class="mb-5">
                        <img src="{{job.image.url}}" alt="Image" class="img-fluid rounded">
                    </figure>
                    {% endif %}

                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                        <span class="icon-align-left mr-3"></span>Job Description
                    </h3>

                    {% if job.job_desc %}
                    <p>{{ job.job_desc|safe }}</p>
                    {% else %}
                    <p>No Description Available</p>
                    {% endif %}

                </div>
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                        <span class="icon-rocket mr-3"></span>Responsibilities
                    </h3>
                    <p>{{ job.responsibilities|safe }}</p>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                        <span class="icon-book mr-3"></span>Requirements
                    </h3>
                    <p>{{ job.requirements|safe }}</p>
                </div>

                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                        <span class="icon-turned_in mr-3"></span>Additional Notes
                    </h3>
                    <p>{{ job.additional_note|safe }}</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Published on:</strong> {{ job.date_posted }}</li>
                        <li class="mb-2"><strong class="text-black">Vacancy:</strong> {{ job.vacancy }}</li>
                        <li class="mb-2"><strong class="text-black">Employment Status:</strong> {{ job.job_type }}</li>
                        <li class="mb-2"><strong class="text-black">Job Location:</strong> {{ job.location }}</li>
                        <li class="mb-2"><strong class="text-black">Experience Required (in month):</strong> {{
                            job.experience }}</li>
                        <li class="mb-2"><strong class="text-black">Salary:</strong> {{ job.salary }}</li>
                        <li class="mb-2"><strong class="text-black">Gender:</strong> {{ job.gender }}</li>
                        <li class="mb-2"><strong class="text-black">Application Deadline:</strong> {{ job.deadline }}
                        </li>
                    </ul>
                </div>

                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Location on Map</h3>


                    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0" src={{ location_link|safe }}></iframe>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
