{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!-- NAVBAR -->
{% include "./header.html" %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">{{ task }} Your Award</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'applicant-profile' user.id %}">Profile</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>{{ task }} Award</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2>{{ task }} Award</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <form class="p-4 p-md-5 border rounded" method="post" action="">
                    <h3 class="text-black mb-5 border-bottom pb-2">Award Details</h3>

                    {% csrf_token %}

                    <div class="form-group">
                        <label>Details about your Award or Certificate</label>
                        {{form.detail|add_class:"form-control"}}
                    </div>

                    <div class="col-12">
                        <button class="btn btn-block btn-primary btn-md" type="submit">{{ task }} Award</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Write about it'
</script>

{% endblock %}
