{% extends "user/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<!-- NAVBAR -->
<header class="site-navbar mt-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6"><a href="{% url 'home' %}">JobLand</a></div>

            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                </ul>
            </nav>

            <div class="right-cta-menu text-right d-flex align-items-center col-6">
                <div class="ml-auto">
                    <a class="btn btn-primary border-width-2 d-none d-lg-inline-block"
                       href="{% url 'login' %}"><span
                            class="mr-2 icon-lock_outline"></span>Log In</a>
                </div>
                <a class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3" href="#"><span
                        class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>

        </div>
    </div>
</header>

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Sign Up as an Applicant</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Sign Up</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Sign Up To JobLand</h2>
                <form action="" class="p-4 border rounded" method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Email Address</label>
                            {{ form.email|add_class:"form-control"|attr:"autofocus" }}
                            {{ form.email.errors }}
                            <p>{{ form.email.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Full Name</label>
                            {{ form.name|add_class:"form-control" }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">{{form.password1.label}}</label>
                            {{ form.password1|add_class:"form-control" }}
                            {{ form.password1.errors }}
                            <p class="help">{{ form.password1.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Re-Type Password</label>
                            {{ form.password2|add_class:"form-control" }}
                            {{ form.password2.errors }}
                            <p class="help">{{ form.password2.help_text|safe }}</p>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <input class="agree-term" id="agree-term" name="check" type="checkbox"/>
                            <label class="label-agree-term" for="agree-term">
                                I agree to all statements in <a class="term-service" href="#">Terms of service</a>
                            </label>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            {{form.is_applicant.as_hidden}}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input class="btn px-4 btn-primary text-white" name="Create User" type="submit"
                                   value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'Email Address'
    form_fields[2].placeholder = 'Full Name'
    form_fields[3].placeholder = 'Password'
    form_fields[4].placeholder = 'Re-Type Password'
</script>

{% endblock %}
