{% extends "user/base.html" %}
{% load static %}

{% block content %}

<!-- NAVBAR -->
<header class="site-navbar mt-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6"><a href="{% url 'home' %}">JobLand</a></div>

            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>

            <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                        class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div>

        </div>
    </div>
</header>

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Reset Your Password</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'login' %}">Log In</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Password Reset</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <h3>Password reset complete</h3>

        <p>Your password has been set. You may go ahead and log in now.</p>

        <a href="{% url 'login' %}">Log in</a>
    </div>
</section>

{% endblock %}